<a href="project-manager/projects">Go Back</a>
<div class="row" *ngIf="project">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Start Date</p>
              <p class="card-title">{{ project.startDate | date }}<p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">End Date</p>
              <p class="card-title">{{ project.endDate | date }}
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 *ngIf="!project" class="center">Aucun project à éditer...</h3>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-badge text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Management</p>
              <p class="card-title"> {{ project.management | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Developer</p>
              <p class="card-title">{{ project.developer | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bank text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">{{ project.revenue | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Cost</p>
              <p class="card-title">{{ project.cost | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Task Cost Breakdown</h5>
        <p class="card-category">subtitle</p>
      </div>

      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>

      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Software
          <i class="fa fa-circle text-warning"></i> Hardware
          <i class="fa fa-circle text-danger"></i> Premises
          <i class="fa fa-circle text-gray"></i> Furniture
          <i class="fa fa-circle text-secondary"></i> Sourcing
          <i class="fa fa-circle text-danger"></i> Distribution
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Total cost : 10000.00€
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Cost/Revenue Ratio</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Costs
          <i class="fa fa-circle text-warning"></i> Revenue
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>



