<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Your Projects</h4>
        <a href="project-manager/project/add">Add</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Name
              </th>
              <th>
                Start Date
              </th>
              <th>
                End Date
              </th>
              <th>
                Management
              </th>
              <th>
                Developer
              </th>
              <th>
                Total Costs
              </th>
              <th>
                Revenue
              </th>
              <th>
                Profit/Loss
              </th>
            </thead>
            <tbody *ngFor="let project of projects">
              <tr (click)="goToProject(project)">
                <td>
                  {{ project.id }}
                </td>
                <td>
                  {{ project.name }}
                </td>
                <td>
                  {{ project.startDate | date }}
                </td>
                <td>
                  {{ project.endDate | date }}
                </td>
                <td>
                  {{ project.management | currency:'€' :true:'1.0' }}
                </td>
                <td>
                  {{ project.developer | currency:'€' :true:'1.0' }}
                </td>
                <td>
                  {{ project.cost | currency:'€' :true:'1.0' }}
                </td>
                <td>
                  {{ project.revenue | currency:'€' :true:'1.0' }}
                </td>
                <td>
                  {{ project.revenue - project.cost | currency:'€' :true:'1.0' }}
                </td>
                <td>
                    <a href="project-manager/project/edit/{{project.id}}">(Edit)</a>

                    <br><a>Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
