<a href="project-manager/tasks">Go Back</a>
<div class="row" *ngIf="task">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-badge text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Management</p>
              <p class="card-title">{{ task.management | currency:'€' :true:'1.0'}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Developer</p>
              <p class="card-title">{{ task.developer | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bank text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">{{ task.revenue | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Cost</p>
              <p class="card-title">{{ task.cost | currency:'€' :true:'1.0' }}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Cost Breakdown</h5>
        <p class="card-category">Task Overheads</p>
      </div>

      <div class="card-body ">
        <canvas id="chartOverheads"></canvas>
      </div>

      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Software
          <i class="fa fa-circle text-warning"></i> Hardware
          <i class="fa fa-circle text-danger"></i> Premises
          <i class="fa fa-circle text-gray"></i> Furniture
          <i class="fa fa-circle text-secondary"></i> Sourcing
          <i class="fa fa-circle text-danger"></i> Distribution
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Total cost : {{task.software + task.hardware + task.premises + task.furniture + task.sourcing + task.distribution  | currency:'€' :true:'1.0'}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Cost Breakdown</h5>
        <p class="card-category">Cost of labor</p>
      </div>

      <div class="card-body ">
        <canvas id="chartHr"></canvas>
      </div>

      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Management
          <i class="fa fa-circle text-warning"></i> Developer
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Total cost : {{task.management + task.developer | currency:'€' :true:'1.0'}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Profitability</h5>
        <p class="card-category">filler</p>
      </div>

      <div class="card-body ">
        <canvas id="chartProfitability"></canvas>
      </div>

      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-secondary"></i> Revenue
          <i class="fa fa-circle text-gray"></i> Cost
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i>Profit/Loss : {{task.revenue - task.cost | currency:'€' :true:'1.0' }}
        </div>
      </div>
    </div>
  </div>

</div>
