<a href="project-manager/users">Go Back</a>
<div class="row" *ngIf="user">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/faces/ayo-ogunseinde-1.jpg" alt="...">
            <h5 class="title">{{ user.name }}</h5>
          </a>
          <p class="description">
            Surname : {{ user.surname }}
          </p>
        </div>
        <p class="description text-center">
          Name : {{ user.name }}
          <br> Username : {{ user.username }}
          <br> Email : {{ user.email }}
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24.00€
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Project Members</h4>
      </div>

      <div class="card-body">
        <ul class="list-unstyled team-members" *ngFor="let user of users">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                {{ user.name }}
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
<h3 *ngIf="!user" class="center">Aucun user à éditer...</h3>
